<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::Layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
</head>
<body>
	<section class="banner d-flex justify-content-center align-items-center">
	<div class="text-center">
	<h1 class="text-white font-weight-bold">Smart Contact Manager</h1>
	<p class="text-white">Start collection your contacts in very smarter way. We provide very efficient and smarter way
	of handling contacts.</p>
	<a href="register" class="btn btn-outline-warning">Get Start</a>
	</div>
	</section>
</body>
</html>